
header{
  background-color: #0d1419;
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.header-logo{
  width: 38px;
  height: auto;
  vertical-align: middle;
}

.header-title{
  color: #f3f5f4;
  font-weight: 500;
}

main{
  /* top left/right bottom */
  padding: 50px 30px;
  max-width: 100%;
  margin: 0;
  
}

.ingredients-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 38px;
}

.ingredients-form > input{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 15px;
  flex-grow: 1;
  max-width: 275px;
  min-width: 150px;
  color: #333;
  cursor: text;
}

.ingredients-form input:focus {
  box-shadow: 0 0 0 2px #cdc6b6; 
  outline: none; /* Remove default outline if box-shadow is your focus indicator */
}

.ingredients-form > button{
  padding: 4px 15px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  background-color: #253a4a;
  color: #f3f5f4;
  min-width: 100px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-out;
}

.ingredients-form button:hover {
  background-color: #0d1419; /* Darker blue */
  transform: translateY(-0.5px); /* Subtle lift */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.minimum-ingredients{
  display: flex;
  justify-content: center;
  padding-top: 0;
  color: #b1aca0;
  font-size: 0.92rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}
