
header{
  background-color: #0d1419;
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.header-logo{
  width: 38px;
  height: auto;
  vertical-align: middle;
}

.header-title{
  color: #f3f5f4;
  font-weight: 500;
}